<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {{>htmllink}}
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto col-12">
                <img src="img/error.png" alt="error" class=" imgs" >
                <button class='btn button'><a href="/" class='btn1'>Go To Home </a></button>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>